body{
    background-color: lavender;
    height: 96vh;
    display: flex;
    justify-content: space-between;
    margin: 1vh 1vw;
}
div{
    display: flex;
    background-color: white;
    border-radius: 10px;
}
.background{
    width: fit-content;
    height: fit-content;
    background:none;
    flex-direction: column;
    justify-content: space-around;
    height: 96vh;
    z-index: 1000;
}
.background>.map{
    width: 64vw;
    height: 86vh;
}
.background>.sidebar{
    height: 62vh;
    width: 33vw;
}
.background>.info{
    width: 33vw;
    height: 32vh;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
.info>div{
    flex-direction: row;
    align-items: flex-end;
}
.info>div>p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    flex-direction: column;
}
.info>div>p:not(.flagtext){
    margin: 0px 0px 0px 10px;
}
.flagtext{
    margin: 0px 20px;
}
img{
    border: 2px solid black;
    height: 100px;
    margin: 10px 0px 0px 10px;
    
}