body{
    background-color: lavender;
    height: 96vh;
    display: flex;
    justify-content: space-between;
    margin: 1vh 1vw;
}
div{
    display: flex;
    background-color: white;
    border-radius: 10px;
}
.background{
    width: fit-content;
    height: fit-content;
    background:none;
    flex-direction: column;
    justify-content: space-around;
    height: 96vh;
    z-index: 1000;
}
.background>.map{
    width: 64vw;
    height: 86vh;
}
.background>.sidebar{
    height: 62vh;
    width: 33vw;
}
.background>.info{
    width: 33vw;
    height: 32vh;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
.info>div{
    flex-direction: row;
    align-items: flex-end;
}
.info>div>p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    flex-direction: column;
}
.info>div>p:not(.flagtext){
    margin: 0px 0px 0px 10px;
}
.flagtext{
    margin: 0px 20px;
}
img{
    border: 2px solid black;
    height: 100px;
    margin: 10px 0px 0px 10px;
    
}
.navbar{
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    min-width: 10px;
    width: 1vw;
    transition: 0.2s;
    background-color: hsla(0, 0%, 0%, 0.1);
    border-radius: 0;
}
.navbar:hover{
    width: 5vw;
    background-color: hsla(0, 0%, 0%, 1.0);
}
.navbar>div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    height: 5vh;
    width: inherit;
    left: -4vw;
    border-radius: 0;
    background-color:transparent;
}
.navbar>div>svg{
    display: flex;
    width: 5vw;
    transition: 0.2s;
    transform:rotate(0);
}
.navbar>div>svg>path{
    fill: gray;
}

.navbar:hover>div{
    left: 0;
}
@keyframes spin {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

.navbar>div>svg:hover{
    animation-name: spin;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}